.anchor{
    -fx-background-image:url('bar_alcoale.jpg');
    -fx-background-size: 875 657;
}
.textBar{
    -fx-background: transparent;
    -fx-text-fill: white;
}

.list-view .list-cell:even {
    -fx-background-color: transparent;
    -fx-font-size: 30px;
    -fx-font-family:  "Courier New";
    -fx-font-weight: bold;
    -fx-text-fill: #dedede;
}
.list-view .list-cell:odd {
    -fx-background-color: transparent;
    -fx-font-size: 30px;
    -fx-font-family:  "Courier New";
    -fx-font-weight: bold;
    -fx-text-fill: #dedede;
}